# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json

# Laravel 8+ environment files
.env.*.backup
.env.backup

# Laravel IDE helpers
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Logs & cache
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing

# OS / Editor specific
.DS_Store
Thumbs.db
*.log

# Composer & NPM
composer.lock
yarn.lock
npm-debug.log
package-lock.json

# Misc
.idea/
.vscode/
.env.example
